#videoContainer {
  width: 100%;
  max-width: 1280px;
  aspect-ratio: 16 / 9;
  background-color: rgba($color: #000000, $alpha: 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  video {
    height: 100%;
  }
  .videoControls {
    &.showing {
      opacity: 1;
    }
    transition: all 0.5s ease-in-out;
    opacity: 0;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr auto;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    box-sizing: border-box;
    background-color: #0f1117;
    .videoControls__play {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .videoControls__playBtn {
        margin: 0px 15px;
      }
      .videoControls__time {
        font-size: 12px;
      }
    }
  }
  .videoControls__volume {
    display: flex;
    align-items: center;
    span {
      margin-left: 10px;
    }
    i {
      font-size: 20px;
    }
  }
}
