extends base.pug

block content
    h4 Chamge Title of VIdeo
    form(method="POST")
        input(name="title", placeholder="Vidoe Title", value=video.title, required)
        input(value="Save", type="submit")