extends base

block content
    div.upload__container
        div.upload__video 
            video#preview
            button#actionBtn.social__btn Start Recording
        if errorMessage
            span=errorMessage 
        form(method="POST", enctype="multipart/form-data")
            label(for="video") Video File
            input(type="file", id="video", accept="video/*", required=true, name="video") 
            label(for="thumb") Thumbnail File 
            input(type="file", id="thumb", accept="image/*", required=true, name="thumb") 
            input(name="title", placeholder="Title", required, type="text", maxlenght=80)
            input(name="description", placeholder="Description", required, type="text", minlenght=1)
            input(name="hashtags", placeholder="Hashtags, separated by comma.", required, type="text")
            input(type="submit", value="UPload Video") 

block scripts
    script(src="/static/js/recorder.js")